.content .btn-fb {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.content .btn-fb:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.content .nav-tabs li.active a {
  color: white;
  background: #156dae;
}
.content .nav-tabs li a {
  color: #156dae;
  background: white;
}
.content .tab-pane {
  background: transparent;
  margin: 0;
}
.content .tab-content {
  margin-bottom: 1em;
}
.content #tab-now {
  background: white;
}
.content #tab-now .now-current .detail-row {
  padding: 0.5em;
  background: #f17d7e;
}
.content #tab-now .now-current .detail-row .image {
  text-align: center;
}
.content #tab-now .now-current .detail-row .image img {
  margin: 0 auto;
}
.content #tab-now .now-current .detail-row .details {
  text-align: center;
  position: relative;
}
.content #tab-now .now-current .detail-row .details h5, .content #tab-now .now-current .detail-row .details h1 {
  color: white;
  font-weight: bold;
}
.content #tab-now .now-current .detail-row .details h1 .weather {
  font-size: 3em;
}
.content #tab-now .now-current .detail-row .details h1 .weather + .temp-unit {
  vertical-align: top;
}
.content #tab-now .now-current .detail-row .details h1 .weather-unit {
  font-size: 1em;
  font-weight: normal;
  vertical-align: 1.4em;
}
.content #tab-now .now-current .detail-row .details .low-high {
  margin-top: 2em;
  font-size: 1.2em;
}
.content #tab-now .now-current .detail-row .blue {
  color: blue;
}
.content #tab-now .now-current .detail-row .green {
  color: green;
}
.content #tab-now .now-current .detail-row .btn-fb {
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.content #tab-now .now-current .table {
  margin: 0;
}
.content #tab-now .now-current .table tr:not(.danger) {
  background: #fff;
}
.content #tab-now .now-clouds {
  padding: 1px;
}
.content #now-map img {
  max-width: none !important;
}
