body {
  font-size: 13px;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::selection {
  background-color: #b3adff;
  color: rgba(251, 251, 251, 0.87);
}

::-moz-focus-inner, :active, :focus {
  outline: none;
  border: 0;
  -moz-outline-style: none;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.hr-divider {
  margin: 1.5rem 0;
  color: darkgray;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #c3c3c3, #ccc);
}

.red {
  color: #c0392b;
}

.collapsing {
  -webkit-transition: height .35s ease !important;
  -o-transition: height .35s ease !important;
  -moz-transition: height .35s ease !important;
  transition: height .35s ease !important;
}

.top h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.top .search-form form {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 1em;
}
.top .search-form form .other-parts {
  margin-top: 1em;
}
.top .search-form form .other-parts .buttons {
  float: right;
}
.top .search-form form .other-parts .buttons button {
  width: 6.8em;
}
@media (max-width: 1200px) and (min-width: 900px) {
  .top .search-form form .other-parts .buttons button {
    width: 6.69em;
  }
}
.top .search-form form .other-parts .credits {
  float: right;
}
.top .search-form form .form-group {
  padding: 0 0.2em;
}
.top .search-form form .form-group .radio-inline {
  margin-left: 0;
  margin-right: 10px;
}
.top .search-form form .form-group input[type=text], .top .search-form form .form-group select {
  width: 100%;
}
.top .search-form form .error {
  font-size: 1.1em;
  color: #b10000;
}

.content .btn-fb {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.content .btn-fb:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.content .nav-tabs li.active a {
  color: white;
  background: #156dae;
}
.content .nav-tabs li a {
  color: #156dae;
  background: white;
}
.content .tab-pane {
  background: transparent;
  margin: 0;
}
.content .tab-content {
  margin-bottom: 1em;
}
.content #tab-now {
  background: white;
}
.content #tab-now .now-current .detail-row {
  padding: 0.5em;
  background: #f17d7e;
}
.content #tab-now .now-current .detail-row .image {
  text-align: center;
}
.content #tab-now .now-current .detail-row .image img {
  margin: 0 auto;
}
.content #tab-now .now-current .detail-row .details {
  text-align: center;
  position: relative;
}
.content #tab-now .now-current .detail-row .details h5, .content #tab-now .now-current .detail-row .details h1 {
  color: white;
  font-weight: bold;
}
.content #tab-now .now-current .detail-row .details h1 .weather {
  font-size: 3em;
}
.content #tab-now .now-current .detail-row .details h1 .weather + .temp-unit {
  vertical-align: top;
}
.content #tab-now .now-current .detail-row .details h1 .weather-unit {
  font-size: 1em;
  font-weight: normal;
  vertical-align: 1.4em;
}
.content #tab-now .now-current .detail-row .details .low-high {
  margin-top: 2em;
  font-size: 1.2em;
}
.content #tab-now .now-current .detail-row .blue {
  color: blue;
}
.content #tab-now .now-current .detail-row .green {
  color: green;
}
.content #tab-now .now-current .detail-row .btn-fb {
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.content #tab-now .now-current .table {
  margin: 0;
}
.content #tab-now .now-current .table tr:not(.danger) {
  background: #fff;
}
.content #tab-now .now-clouds {
  padding: 1px;
}
.content #now-map img {
  max-width: none !important;
}

#load-spinner {
  display: none;
  text-align: center;
  color: white;
  position: relative;
  margin: auto;
}
#load-spinner h3 {
  text-align: center;
  color: white;
}

.spinner {
  margin: 5px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 50px;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.three-dots {
  margin-left: 0.2em;
}
.three-dots .one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
}
.three-dots .two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}
.three-dots .three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#tab-day {
  background: white;
}
#tab-day .days-table {
  background: white;
  margin: 0;
  text-align: center;
}
@media (min-width: 900px) {
  #tab-day .days-table .tab-day-row-collapse .collapse:not(.in) {
    display: none;
  }
}
#tab-day .days-table .tab-day-row-collapse .well {
  border-radius: 0;
  margin-bottom: 0;
}
#tab-day .days-table .tab-day-row-collapse td {
  padding: 10px 0;
}
@media (min-width: 900px) {
  #tab-day .days-table .tab-day-row-collapse td {
    padding: 0;
  }
}
#tab-day .days-table thead {
  background: #156dae;
  color: white;
}
#tab-day .days-table thead th {
  text-align: center;
}
#tab-day .days-table .details-table {
  background: transparent;
}
#tab-day .days-table .details-table thead {
  background: white;
  color: black;
}
#tab-day .days-table .details-table tbody {
  background-color: transparent;
  color: black;
}

#tab-week {
  padding: 0.5em;
  color: white;
}
@media (min-width: 990px) {
  #tab-week {
    background: #2e343a;
  }
}
#tab-week .day-cards {
  margin: auto;
}
@media (min-width: 990px) {
  #tab-week .day-cards {
    width: 840px;
  }
}
#tab-week .day-cards .modal-dialog {
  color: black;
}
#tab-week .day-cards .modal-dialog .modal-body {
  text-align: center;
}
#tab-week .day-cards .modal-dialog .orange {
  margin-left: 0.2em;
  color: orange;
}
#tab-week .day-cards .day-card {
  cursor: pointer;
  padding: 0;
  display: inline-block;
  text-align: center;
  border-radius: 0.4em;
  margin-left: 15px;
  margin-bottom: 1em;
}
@media (min-width: 990px) {
  #tab-week .day-cards .day-card {
    width: 105px;
  }
}
@media (max-width: 900px) {
  #tab-week .day-cards .day-card {
    border-radius: 3em;
  }
}
#tab-week .day-cards .day-card h4 {
  font-size: 1.3em;
}
#tab-week .day-cards .day-card h5 {
  font-size: 1.2em;
}
#tab-week .day-cards .day-card.day-card-1 {
  background: #1579BB;
}
#tab-week .day-cards .day-card.day-card-2 {
  background: #FF091F;
}
#tab-week .day-cards .day-card.day-card-3 {
  background: #F78A34;
}
#tab-week .day-cards .day-card.day-card-4 {
  background: #A4AB22;
}
#tab-week .day-cards .day-card.day-card-5 {
  background: #A365A9;
}
#tab-week .day-cards .day-card.day-card-6 {
  background: #FF6D73;
}
#tab-week .day-cards .day-card.day-card-7 {
  background: #E51369;
}
