$blue: rgb(21, 109, 174);

#tab-day {
  background: white;
  .days-table {
    background: white;
    @media (min-width: 900px) {
      .tab-day-row-collapse .collapse:not(.in){
        display: none;
      }
    }

    .tab-day-row-collapse{
      .well{
        border-radius: 0;
        margin-bottom: 0;
      }
      td{
        padding: 10px 0;
        @media (min-width: 900px) {
          padding: 0;
        }
      }
    }
    margin: 0;
    text-align: center;
    thead {
      background: $blue;
      color: white;
      th {
        text-align: center;
      }
    }
    .details-table {
      background: transparent;
      thead {
        background: white;
        color: black;
      }
      tbody {
        background-color: transparent;
        color: black;
      }
    }

  }

}